{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - code_public: The public metis code.
 * - code_private: The private metis code.
 * - server: The metis server.
 * - show: The field setting to show (1) or not (0) the code.
 *
 * @see template_preprocess_metis_code_private()
 *
 * @ingroup themeable
 */
#}
<div class="metis metis--code-private">{{ code_private }}</div>
